<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Create some clothes</h1>
    <form action="/clothing" method="POST">
        <label hidden for="brand">Brand:</label>
        <input type="'text" name="name" id="brand" placeholder="Brand" />

        <label hidden for="color">Color:</label>
        <input type="text" name="color" id="color" placeholder="Color" />

        <label hidden for="size">Size:</label>
        <input type="text" name="size" id="size" placeholder="Size" />

        <label hidden for="type">Type:</label>
        <input type="text" name="type" id="type" placeholder="Type"/>

        <label  for="quantity">Qty:</label>
        <input type="text" name="quantity" id="quantity"/>



        <button type="submit">Add Clothing</button>




    </form>
</body>

</html>

